.comics{
    background-color: rgba(28, 28, 28, 1);
    padding: 50px;
    position: relative;

    .genre{
        position: absolute;
        top: -20px;
        left: 270px;

        span{
            text-transform: uppercase;
            font-size: 30px;
            background-color: rgba(2, 130, 249, 1);
            color: white;
            padding: 10px 20px;
        }
    }
    
    .container_card{
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;

        .card{
            height: 180px;
            width: 180px;
            background-color: white;
            margin: 35px 20px;

            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            
            img{
                height: 180px;
                width: 180px;
            }
            span{
                text-transform: uppercase;
                color: white;
                font-size: 13px;
            }
        }
    }
    .button{
        text-align: center;

        span{
            background-color: rgba(2, 130, 249, 1);
            color: white;
            padding: 10px 100px;

            &:hover{
                cursor: pointer;
                color: rgba(2, 130, 249, 1);
                background-color: white; 
                border: 1px solid rgba(2, 130, 249, 1); 
            }
        }
    }
}