header{

    .up_header{
        background-color: rgba(2, 130, 249, 1);
        height: 25px;
        color: white;
        display: flex;
        align-items: center;

        .up_content{
            width: 60%;
            margin: auto;
            text-align: right;

            span{
                margin: 10px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .bottom_header{
        width: 60%;
        margin: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            height: 80px;
        }

        ul{
            list-style: none;

            li{
                display: inline;
                margin: 20px;
                font-weight: 500;
                font-size: 13px;
                padding-bottom: 38px;

                &:hover{
                    cursor: pointer;
                    color: rgba(2, 130, 249, 1);
                    border-bottom: 4px solid rgba(2, 130, 249, 1);
                }
            }
        }
        span{
            width: 120px;
            text-align: right;
            border-bottom: 4px solid rgba(2, 130, 249, 1);
            font-weight: 500;
            font-size: 13px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}
