header{

    .up_header{
        background-color: $brand_color;
        color: white;
        display: flex;
        align-items: center;

        .up_content{
            text-align: right;
            padding: 5px;

            span{
                font-size: 12px;
                margin: 10px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .bottom_header{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            img{
                height: 80px;
            }
        }

        ul{
            list-style: none;

            a{
                text-decoration: none;
                color: rgba(70, 70, 70, 1);
                padding-bottom: 44px;
                position: relative;

                &.active{
                    color: $brand_color; 
                }

                &:hover{
                    cursor: pointer;
                    color: $brand_color;
                    border-bottom: 4px solid $brand_color;
                }
                li{
                    display: inline;
                    margin: 15px;
                    font-weight: 500;
                    font-size: 15px;
                    text-transform: uppercase;

                    i{
                        position: absolute;
                        right: 2px;
                        top: 2px;
                        color: $brand_color;
                        vertical-align: middle;
                    }
                }
            }
        }
        input{
            width: 120px;
            text-align: right;
            border: none;
            border-bottom: 3px solid $brand_color;
            font-weight: 500;
            font-size: 13px;
            outline: none;
            margin: 5px;
        }
        i{
            font-size: 12px;
        }
    }
}
