* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header .up_header {
  background-color: #0282f9;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
}
header .up_header .up_content {
  width: 60%;
  margin: auto;
  text-align: right;
}
header .up_header .up_content span {
  margin: 10px;
}
header .up_header .up_content span:hover {
  cursor: pointer;
}
header .bottom_header {
  width: 60%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom_header img {
  height: 80px;
}
header .bottom_header ul {
  list-style: none;
}
header .bottom_header ul li {
  display: inline;
  margin: 20px;
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 38px;
}
header .bottom_header ul li:hover {
  cursor: pointer;
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}
header .bottom_header span {
  width: 120px;
  text-align: right;
  border-bottom: 4px solid #0282f9;
  font-weight: 500;
  font-size: 13px;
}
header .bottom_header span:hover {
  cursor: pointer;
}

.jumbotron {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-position: top;
}

.comics {
  background-color: #1c1c1c;
  padding: 50px;
  position: relative;
}
.comics .genre {
  position: absolute;
  top: -20px;
  left: 270px;
}
.comics .genre span {
  text-transform: uppercase;
  font-size: 30px;
  background-color: #0282f9;
  color: white;
  padding: 10px 20px;
}
.comics .container_card {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.comics .container_card .card {
  height: 180px;
  width: 180px;
  background-color: white;
  margin: 35px 20px;
}
.comics .container_card .card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.comics .container_card .card img {
  height: 180px;
  width: 180px;
}
.comics .container_card .card span {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}
.comics .button {
  text-align: center;
}
.comics .button span {
  background-color: #0282f9;
  color: white;
  padding: 10px 100px;
}
.comics .button span:hover {
  cursor: pointer;
  color: #0282f9;
  background-color: white;
  border: 1px solid #0282f9;
}

.infos {
  background-color: #0282f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.infos .info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.infos .info img {
  height: 55px;
  margin-right: 10px;
}
.infos .info span {
  color: white;
  text-transform: uppercase;
}

.credits {
  height: 400px;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
}
.credits .credit_left {
  width: 50%;
  height: 100%;
}
.credits .credit_left .container_left {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}
.credits .credit_left .list_left {
  margin: 20px;
}
.credits .credit_left .list_left ul {
  list-style: none;
  color: white;
  margin-top: 20px;
}
.credits .credit_left .list_left ul h3 {
  margin-bottom: 20px;
}
.credits .credit_left .list_left ul li {
  color: #959595;
  font-size: 14px;
}
.credits .credit_left .list_left ul li:hover {
  cursor: pointer;
  color: white;
}
.credits .credit_left .other_list {
  margin: 20px;
}
.credits .credit_left .other_list ul {
  list-style: none;
  color: white;
  margin-top: 20px;
}
.credits .credit_left .other_list ul h3 {
  margin-bottom: 20px;
}
.credits .credit_left .other_list ul li {
  color: #959595;
  font-size: 14px;
}
.credits .credit_left .other_list ul li:hover {
  cursor: pointer;
  color: white;
}
.credits .credit_left .copyright {
  width: 70%;
  margin: auto;
  color: #959595;
  padding-left: 210px;
  font-size: 12px;
}
.credits .credit_left .copyright a {
  text-decoration: none;
  color: #0282f9;
}
.credits .credit_left .copyright a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.credits .credit_right {
  width: 50%;
  height: 100%;
}
.credits .credit_right img {
  height: 100%;
}

.sign {
  /* width: 65%; */
  background-color: #303030;
  /* height: 200px; */
  margin: auto;
  padding: 50px;
}
.sign .container_sign {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign .container_sign .sign_left span {
  color: white;
  padding: 10px 15px;
  border: 2px solid #0282f9;
}
.sign .container_sign .sign_left span:hover {
  cursor: pointer;
  background-color: #0282f9;
  border: 2px solid white;
}
.sign .container_sign .sign_right {
  display: flex;
  align-items: center;
}
.sign .container_sign .sign_right a {
  text-decoration: none;
  color: #0282f9;
  margin-right: 20px;
  font-weight: 700;
  font-size: 20px;
}
.sign .container_sign .sign_right img {
  margin: 5px;
}
.sign .container_sign .sign_right img:hover {
  cursor: pointer;
}