* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

.active {
  border-bottom: 4px solid #0282f9;
}

header .up_header {
  background-color: #0282f9;
  color: white;
  display: flex;
  align-items: center;
}
header .up_header .up_content {
  text-align: right;
  padding: 5px;
}
header .up_header .up_content span {
  font-size: 12px;
  margin: 10px;
}
header .up_header .up_content span:hover {
  cursor: pointer;
}
header .bottom_header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom_header a img {
  height: 80px;
}
header .bottom_header ul {
  list-style: none;
}
header .bottom_header ul a {
  text-decoration: none;
  color: #464646;
  padding-bottom: 44px;
}
header .bottom_header ul a.active {
  color: #0282f9;
}
header .bottom_header ul a:hover {
  cursor: pointer;
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}
header .bottom_header ul a li {
  display: inline;
  margin: 15px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}
header .bottom_header input {
  width: 120px;
  text-align: right;
  border: none;
  border-bottom: 3px solid #0282f9;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  margin: 5px;
}
header .bottom_header i {
  font-size: 12px;
}

.jumbotron {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

.comics {
  background-color: #1c1c1c;
  padding: 20px 0px 50px 0;
  position: relative;
}
.comics .genre {
  position: absolute;
  top: -20px;
  left: 300px;
}
.comics .genre span {
  text-transform: uppercase;
  font-size: 30px;
  background-color: #0282f9;
  color: white;
  padding: 10px 20px;
}
.comics .container_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.comics .container_card .card {
  height: 180px;
  width: 180px;
  background-color: white;
  margin: 35px 20px;
}
.comics .container_card .card a {
  text-decoration: none;
}
.comics .container_card .card a img {
  height: 180px;
  width: 180px;
}
.comics .container_card .card a span {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}
.comics .container_card .card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.comics .button {
  text-align: center;
}
.comics .button span {
  background-color: #0282f9;
  color: white;
  padding: 10px 100px;
}
.comics .button span:hover {
  cursor: pointer;
  color: #0282f9;
  background-color: white;
  border: 1px solid #0282f9;
}

.infos {
  background-color: #0282f9;
  padding: 20px;
}
.infos .info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.infos .info img {
  height: 55px;
  margin-right: 10px;
}
.infos .info span {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}

.credits {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: top;
}
.credits .credit_left {
  width: 50%;
  height: 100%;
}
.credits .credit_left .container_left {
  display: flex;
}
.credits .credit_left .list_left {
  margin: 20px 20px 20px 0;
}
.credits .credit_left .list_left ul {
  list-style: none;
  color: white;
  margin-top: 20px;
}
.credits .credit_left .list_left ul h3 {
  margin-bottom: 15px;
}
.credits .credit_left .list_left ul li {
  color: #959595;
  font-size: 14px;
  margin-bottom: 5px;
}
.credits .credit_left .list_left ul li:hover {
  cursor: pointer;
  color: white;
}
.credits .credit_left .other_list {
  margin: 20px;
}
.credits .credit_left .other_list ul {
  list-style: none;
  color: white;
  margin-top: 20px;
}
.credits .credit_left .other_list ul h3 {
  margin-bottom: 15px;
}
.credits .credit_left .other_list ul li {
  color: #959595;
  font-size: 14px;
  margin-bottom: 5px;
}
.credits .credit_left .other_list ul li:hover {
  cursor: pointer;
  color: white;
}
.credits .credit_left .copyright {
  color: #959595;
  font-size: 12px;
}
.credits .credit_left .copyright a {
  text-decoration: none;
  color: #0282f9;
}
.credits .credit_left .copyright a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.credits .credit_right {
  width: 50%;
  height: 420px;
  position: relative;
  background-image: url("../img/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

.sign {
  background-color: #303030;
  margin: auto;
  padding: 30px;
}
.sign .container_sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign .container_sign .sign_left span {
  color: white;
  padding: 10px 15px;
  border: 2px solid #0282f9;
}
.sign .container_sign .sign_left span:hover {
  cursor: pointer;
  background-color: #0282f9;
  border: 2px solid white;
}
.sign .container_sign .sign_right {
  display: flex;
  align-items: center;
}
.sign .container_sign .sign_right a {
  text-decoration: none;
  color: #0282f9;
  margin-right: 20px;
  font-weight: 700;
  font-size: 20px;
}
.sign .container_sign .sign_right img {
  margin: 5px;
}
.sign .container_sign .sign_right img:hover {
  cursor: pointer;
}

.comic {
  /* Desc */
  /* /Desc */
  /* More */
  /* /More */
  /* Infos */
  /* /Infos */
}
.comic .bg_blue {
  margin-bottom: 70px;
  height: 80px;
  background-color: #0282f9;
  position: relative;
}
.comic .bg_blue img {
  position: absolute;
  top: -240px;
  border: 1px solid white;
}
.comic .desc {
  display: flex;
  margin: 40px 0 80px 0;
}
.comic .desc .left_desc h2 {
  text-transform: uppercase;
  color: #003f5e;
}
.comic .desc .left_desc .availability {
  padding: 20px 30px;
  margin: 10px 50px 10px 0;
  background-color: #55ba59;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #357739;
}
.comic .desc .left_desc .availability span {
  color: #bafd9c;
}
.comic .desc .left_desc .availability .available {
  margin-right: 30px;
  border-right: 1px solid #357739;
  padding: 20px 30px;
  text-transform: uppercase;
}
.comic .desc .left_desc .availability strong {
  color: white;
}
.comic .desc .left_desc p {
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.comic .desc .adv {
  position: relative;
  padding-top: 10px;
}
.comic .desc .adv span {
  position: absolute;
  top: -10px;
  right: 0;
  font-weight: 600;
  color: #383838;
}
.comic .desc .adv img {
  height: 250px;
}
.comic .hr {
  height: 1px;
  width: 98%;
  margin: auto;
  background-color: #e3e3e3;
}
.comic .more {
  display: flex;
  margin-top: 10px;
  margin-bottom: 120px;
}
.comic .more .talent {
  width: 50%;
  padding-right: 30px;
}
.comic .more .talent h4 {
  color: #003f5e;
  font-size: 20px;
  margin: 20px 0;
}
.comic .more .talent .paragraph {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px;
}
.comic .more .talent .paragraph span {
  width: 35%;
  color: #005ca3;
}
.comic .more .talent .paragraph p {
  width: 75%;
  color: #00bae6;
  font-weight: 500;
}
.comic .more .specs {
  width: 50%;
  padding-left: 30px;
}
.comic .more .specs h4 {
  color: #003f5e;
  font-size: 20px;
  margin: 20px 0;
}
.comic .more .specs .paragraph {
  display: flex;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px;
}
.comic .more .specs .paragraph span {
  width: 20%;
  color: #005ca3;
  margin-right: 50px;
}
.comic .more .specs .paragraph p {
  width: 80%;
  color: #00bae6;
  text-transform: uppercase;
  padding-left: 10px;
  font-weight: 500;
}
.comic .bg_white {
  border-top: 1px solid #c4c4c4;
}
.comic .bg_white .infos {
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.comic .bg_white .infos .info {
  border-right: 1px solid #c4c4c4;
  border-bottom: none;
  margin: 0;
  padding: 20px;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.comic .bg_white .infos .info img {
  height: 55px;
  background-color: #b4b4b4;
  border-radius: 5px;
  padding: 5px;
  color: grey;
  cursor: pointer;
}
.comic .bg_white .infos .info span {
  color: #c4c4c4;
  text-transform: uppercase;
  cursor: pointer;
}

.working {
  background-color: #0282f9;
  color: white;
  padding: 20px;
  text-align: center;
}
.working h1 {
  text-transform: uppercase;
  font-size: 30px;
}